{% load static %}
<div class="main-nav">
    <!-- Sidebar Logo -->
    <div class="logo-box">
         <!-- <a href="{% url 'core:dashboard' %}" class="logo-dark">
              <img src="{% static '/assets/images/logo-sm.png' %}" class="logo-sm" alt="logo sm">
              <img src="{% static '/assets/images/logo-dark.png' %}" class="logo-lg" alt="logo dark">
         </a>

         <a href="index.html" class="logo-light">
              <img src="{% static '/assets/images/logo-sm.png'  %}" class="logo-sm" alt="logo sm">
              <img src="{% static '/assets/images/logo-light.png'   %}" class="logo-lg" alt="logo light">
         </a> -->

    </div>

    <!-- Menu Toggle Button (sm-hover) -->
    <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
         <iconify-icon icon="solar:double-alt-arrow-right-bold-duotone" class="button-sm-hover-icon"></iconify-icon>
    </button>

    <div class="scrollbar" data-simplebar>
         <ul class="navbar-nav" id="navbar-nav">

              <li class="menu-title">General</li>

              <li class="nav-item">
                   <a class="nav-link" href="{% url 'core:dashboard' %}">
                        <span class="nav-icon">
                             <iconify-icon icon="solar:widget-5-bold-duotone"></iconify-icon>
                        </span>
                        <span class="nav-text"> Dashboard </span>
                   </a>
               </li>

               <li class="nav-item">
                    <a class="nav-link" href="{% url 'pos:pos' %}" role="button" aria-expanded="false" aria-controls="sidebarCategory">
                         <span class="nav-icon">
                              <iconify-icon icon="solar:clipboard-list-bold-duotone"></iconify-icon>
                         </span>
                         <span class="nav-text"> POS </span>
                    </a>
               </li>

              <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:category' %}" role="button" aria-expanded="false" aria-controls="sidebarCategory">
                         <span class="nav-icon">
                              <iconify-icon icon="solar:clipboard-list-bold-duotone"></iconify-icon>
                         </span>
                         <span class="nav-text"> Category </span>
                    </a>
               </li>

              <li class="nav-item">
                   <a class="nav-link" href="{% url 'core:product' %}"  role="button" aria-expanded="false" aria-controls="sidebarProducts">
                        <span class="nav-icon">
                             <iconify-icon icon="solar:t-shirt-bold-duotone"></iconify-icon>
                        </span>
                        <span class="nav-text"> Products </span>
                   </a>
              </li> -->
         </ul>
    </div>
</div>